<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="txsFeed" value="https://pkgs.dev.azure.com/txsDev/_packaging/txsFeed/nuget/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="txsFeed">
            <package pattern="TXS.*" />
            <package pattern="DevExpress.*" />
        </packageSource>
        <packageSource key="feed-txsFeed">
            <package pattern="TXS.*" />
            <package pattern="DevExpress.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
