@page "/reportdesigner"
@rendermode InteractiveServer

<PageTitle>Report Designer</PageTitle>

<div style="height: calc(100vh - 120px);">
    <DxReportDesigner Height="100%" Width="100%" AllowMDI="true">
        <DxReportDesignerWizardSettings UseFullscreenWizard="true" />
    </DxReportDesigner>
</div>
